.button-primary {
  height: 50;
  border-radius: 16px;
  border: 0;
  padding: 8px 16px;
  background-color: rgba(0, 60, 255, 1);

  font-family: Ubuntu;
  font-weight: 700;
  color: white;
  font-size: 16px;
  // leading-trim: NONE;
  line-height: 112.00000000000001%;
  letter-spacing: 2%;
  text-align: center;
}
