.button-primary {
  display: inline-block;
  border-radius: 16px;
  border: 0;
  background-color: rgba(0, 60, 255, 1);

  padding: 20px;

  height: fit-content;
  width: fit-content;

  font-family: Ubuntu;
  font-weight: 700;
  color: white;
  font-size: 16px;
  letter-spacing: 2%;
  text-decoration: none;

  cursor: pointer;
}
.subscribe-btn {
  background-color: rgba(104, 109, 241, 1);
  border: none;
  border-radius: 20px;

  padding: 20px;

  font-family: Ubuntu;
  font-weight: 700;
  color: white;
  font-size: 16px;
  letter-spacing: 2%;

  display: flex;
  justify-content: center;

  gap: 15px;

  cursor: pointer;
}

.alternative-white {
  color: white;
}
.alternative-gray {
  color: #808080;
}
