main {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 1300px;
  margin: 0 auto;

  #hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    margin-top: 130px;

    h1 {
      font-family: Ubuntu;
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      line-height: 50px;
      letter-spacing: 0%;
    }
    .card-gallery {
      display: grid;
      grid-template-columns: repeat(2, 250px);
      grid-template-rows: repeat(2, 150px);
      gap: 15px;

      img {
        width: 250px;
        height: 150px;
        object-fit: cover;
      }
    }
  }

  #skills {
    display: flex;
    flex-direction: row;

    margin-top: 130px;

    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-left: 36px;
        background-image: url('/icons/goal.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 24px 24px;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
  }

  #bank {
    margin-top: 40px;
    padding: 35px;

    display: flex;
    flex-direction: column;

    background: linear-gradient(360deg, #b2b2b2, rgba(244, 244, 244, 0.9));
    border-radius: 30px;
    box-shadow:
      0 0 4px rgba(0, 0, 0, 0.08),
      0 2px 4px rgba(187, 187, 187, 0.2);
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    tr {
      font-family: Ubuntu;
      font-weight: 700;
      font-size: 20px;
      td {
        width: 65px;
      }
    }
  }

  #world {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-top: 50px;
    }
  }

  #support {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    form {
      margin-top: 30px;
      padding: 0 30px;

      height: 90px;
      width: 525px;

      display: flex;
      align-items: center;

      background-color: white;
      border-radius: 20px;

      input {
        margin: 10px 20px;
        padding: 0 20px;
        height: 50%;
        width: 100%;

        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 500;

        border: none;
        border-radius: 10px;
      }
      input::placeholder {
        color: #999;
        font-family: Ubuntu;
        font-size: 20px;
        font-weight: 500;
      }
      input:focus {
        outline-color: #b2b2b2;
      }
    }
  }
}
